.site-title {
    font-size: 3em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

h3 { 
    font-size: 0.5em;
}

p {
    font-size: 0.5em;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

form {
    font-size: 0.5em;
}

body {
    margin: auto;
    text-align: center;
}

.post h1 {
    color: rgb(87, 0, 0);
}